
.chatWidget{
  background: #444753;
  border-radius: 5px;
  width: 400px;
  height: 600px; 
  padding: 8px;
  position: absolute;
  right: 10%;
  bottom: 10px;
  position: fixed;
  bottom: 3px;
  right: 69px;
}


.chatHeader{
  color: whitesmoke;
  font-size: 20px;
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
}


.messagesContainer{
  padding: 8px;
  overflow-y: scroll;
  overflow: hidden;
  
}


::-webkit-scrollbar {
  width: 20px;
}





.close{
  display: none;
}


.endChat{
  background-color: pink;
  border-radius: 10px;
  width: 600px;
  height: 150px;
  position: absolute;
  top:20%;
  left: 20%;
  padding: 23px;
  font-size: 24px;

}



