::placeholder{
    color: whitesmoke;
}



  
  
  .sendNewMessageBtn{
    color: #4A90E2;
    font-size: 12px;
    padding: 6px 10px;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 5px;
    float: right;
    margin-right:5px;
    margin-top: 7px; 
    
  }
  
  .sendNewMessageBtn:hover{
    background: #fff;
    color: #333;
  
  }